/* Importing pywal colors */

@import '../waybar/colors/catppuccin-themes/mocha.css';

window {
  font-family: Fira Code Medium;
  font-size: 16pt;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  margin: 10px;
}

button:focus {
  box-shadow: none;
  background-size: 10%;
}

button:hover {
  background-size: 40%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .4);
  color: transparent;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}

#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
  background-color: @lavender;
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
  background-color: @teal;
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}

#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
  background-color: @sapphire;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
  background-color: @yellow;
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#hibernate:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
  background-color: @green;
}